.itemcount2{
    
  
    background-color: white;
    color: black;
  
    width: 190px; 
    height: 45px; 
}

.itemcount{
    display:flex;
    

    width: 200px;; 
    height: 60px; 
  
    flex-direction: row;
    align-content: center;
}

.boton_sumar{
    text-align: center;
    height: 40px; 

}

.contador{
    margin-top: 7px;
    text-align: center;
    width: 50px;

    height: 15px; 

}

.boton_restar{
    text-align: left;
    height: 40px; 
 
}

.boton_agregar_carrito{
    width: 150px;
    height: 40px;

}

.prueba{
    display: flex;
    flex-direction: row;
}